
.firstblock {
    background-color: orange;
}

.secondblock {
    background-color:black;
}

ul {
    color: papayawhip;
    list-style-position: inside;
}

p {
    color: papayawhip;
}

.buttons {
    text-align: center;
}

.lefttxt {
    text-align: justify;
    color: papayawhip;
}

.middletxt {
    text-align: center;
    color: papayawhip;
}

.righttxt {
    text-align: justify;
    color: papayawhip;
}

.column {
    float:left;
    padding 30px;
}

.column.side {
    width:25%;
}

.column.middle {
    width:50%;
}

.row::after {
    content:""
    display: table;
    clear: both;
    background-color: black;
}

@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%
        
    }
}
    
