.flex-container {
    display: flex;
    background-color: rgb(23, 26, 27);
    flex-wrap: wrap;
}
.flex-container > div {
    background-color: rgb(23, 26, 27);
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    flex-grow: 1;
}

.firstblock {
    background-color: orange;
}

body {
    color: #ffdfaf;
    background-color: rgb(23, 26, 27);
}

